@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">

    @if (ViewBag.Customer != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @ViewBag.Customer</a>
        </li>
        <li class="nav-item">
            <form>
                
                <button id="Logout" type="submit" class="nav-link btn btn-danger text-dark" asp-controller="Account" asp-action="Logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <div class="dropdown">
            <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Customer
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="Account/LoginUser">Login</a></li>
                <li><a class="dropdown-item" href="Account/RegisterUser">Register</a></li>
            </ul>
        </div>



        <div class="dropdown">
            <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="Account/LoginAdmin">Login</a></li>
            </ul>
        </div>
    }
</ul>
