@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{
        ViewBag.Customer = @HttpContextAccessor.HttpContext.Session.GetString("Customer");
    }
    @if (ViewBag.Customer != null)
    {
        <li class="nav-item">
           
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @ViewBag.Customer</a>
        </li>
        <li class="nav-item">
            <form>
                <button class="nav-link btn btn-secondary text-dark" asp-controller="Cart" asp-action="GetMyCart">Cart</button>
            </form>
        </li>
        <li class="nav-item">
            <form>
                
                <button id="Logout" type="submit" class="nav-link btn btn-danger text-dark" asp-controller="Account" asp-action="Logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <div class="dropdown">
            <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="Account/LoginUser">Login</a>
                <a class="dropdown-item" href="Account/RegisterUser">Register</a>
            </div>
        </div>
    }
</ul>


