@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{
        ViewBag.Admin = @HttpContextAccessor.HttpContext.Session.GetString("Admin");
    }
    @if (ViewBag.Admin != null)
    {
        <li class="nav-item">

            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @ViewBag.Admin</a>
        </li>
       
        <li class="nav-item">
            <form>
                <button id="Logout" type="submit" class="nav-link btn btn-danger text-dark" asp-controller="Account" asp-action="Logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        
    }
</ul>


